# METAR Data Analysis Project

METAR is the acronym for Meteorological Aerodrome Report. It is internationally recognized shorthand for weather data used by the aviation community.

Different abbreviations and codes from US Government National Weather Service: [source](https://www.weather.gov/media/wrh/mesowest/metar_decode_key.pdf)

### The Problem:

A Flight school is looking to expand to new locations. You're given METAR data to identify the 10 best and 10 worst locations based on the following criteria:

* Visibility of 10 statute miles or greater 

* Cloud ceiling of 3,000 ft above ground or higher

* Winds less than 15 kts

----

[Airport Data Link](https://data.humdata.org/dataset/ourairports-usa?)

[Kaggle Airport Data](https://www.kaggle.com/datasets/aravindram11/list-of-us-airports)

[US Cities Population](https://catalog.data.gov/dataset/500-cities-city-level-data-gis-friendly-format-2019-release)

### Imports and Reading in Data

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import folium
import json
import utils
import warnings

# Data File Paths
# metar = '../data/metar_export.txt'
# us_geojson = '../data/gz_2010_us_040_00_500k.json'
# airports = '../data/airports.csv'
# population = './data.500_Cities__City-level_Data__GIS_Friendly_Format___2019_release.csv'

# Column Names Hardcoded
col_names = ['date', 'id', 'obsv_time', 'automated', 'wind_speed', 'visibility', 'cloud_cover', \
            'temp_dewpt', 'altimeter', 'altimeter_remarks', 'ao2']

df = pd.read_csv('../data/metar_export.txt', delimiter=' ', header = None, names = col_names)
airports = pd.read_csv('../data/airports.csv')
us_pop = pd.read_csv('../data/500_Cities__City-level_Data__GIS_Friendly_Format___2019_release.csv')

print(df.head())
print('='*40)
print()
df.info()

         date              id obsv_time automated wind_speed visibility  \
0  2015-03-25  21:15:00\tKCXP   252115Z      AUTO    08005KT       10SM
1  2015-03-25  21:13:00\tKWRB   252113Z      AUTO    06005KT       10SM
2  2015-03-25  21:12:00\tKTUL   252112Z   14006KT       10SM         TS
3  2015-03-25  21:11:00\tKDRT   252111Z      AUTO    13007KT       10SM
4  2015-03-25  21:10:00\tKBRL   252110Z      AUTO    33009KT        8SM

  cloud_cover temp_dewpt altimeter altimeter_remarks    ao2
0         CLR     17/M01     A3033               RMK    AO2
1      BKN014     OVC024     20/17             A3009    RMK
2      BKN035     BKN120    BKN250             24/16  A2975
3      SCT023      22/17     A2986               RMK    AO2
4      SCT016      07/03     A3006               RMK    AO2
========================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7731241 entries, 0 to 7731240
Data columns (total 11 columns):
 #   Column             Dtype
---  ------             -----
 0   date               object
 1   id                 object
 2   obsv_time          object
 3   automated          object
 4   wind_speed         object
 5   visibility         object
 6   cloud_cover        object
 7   temp_dewpt         object
 8   altimeter          object
 9   altimeter_remarks  object
 10  ao2                object
dtypes: object(11)
memory usage: 648.8+ MB

--- 
Need to convert date, windspeed, and visibility to numeric data types.

Data file is too large for GitHub, link provided to Google Drive.

As with many of the dataframes in this project, not all columns will be used.

---

In [21]:
# Checking population Data

print(us_pop.head())
print('='*40)
us_pop.info()

  StateAbbr   PlaceName  PlaceFIPS  Population2010  ACCESS2_CrudePrev  \
0        AL  Birmingham     107000          212237               20.3
1        AL      Hoover     135896           81619               11.5
2        AL  Huntsville     137000          180105               16.4
3        AL      Mobile     150000          195111               18.1
4        AL  Montgomery     151000          205764               19.0

  ACCESS2_Crude95CI  ACCESS2_AdjPrev ACCESS2_Adj95CI  ARTHRITIS_CrudePrev  \
0      (19.9, 20.6)             20.6    (20.2, 21.0)                 29.8
1      (11.0, 12.0)             11.8    (11.3, 12.3)                 25.3
2      (16.0, 16.9)             16.6    (16.1, 17.0)                 28.9
3      (17.8, 18.5)             18.5    (18.1, 18.9)                 30.2
4      (18.5, 19.5)             19.1    (18.7, 19.6)                 28.3

  ARTHRITIS_Crude95CI  ...  SLEEP_Adj95CI STROKE_CrudePrev  STROKE_Crude95CI  \
0        (29.6, 29.9)  ...   (41.7, 42.0)              5.1      ( 5.0,  5.2)
1        (25.0, 25.6)  ...   (32.5, 33.2)              2.4      ( 2.3,  2.4)
2        (28.7, 29.1)  ...   (38.1, 38.6)              3.6      ( 3.5,  3.6)
3        (30.0, 30.4)  ...   (39.5, 39.9)              4.4      ( 4.3,  4.4)
4        (28.1, 28.5)  ...   (37.9, 38.4)              4.2      ( 4.1,  4.2)

  STROKE_AdjPrev  STROKE_Adj95CI TEETHLOST_CrudePrev  TEETHLOST_Crude95CI  \
0            5.1    ( 5.0,  5.1)                22.8         (21.8, 23.9)
1            2.3    ( 2.2,  2.4)                 8.3         ( 7.3,  9.3)
2            3.5    ( 3.4,  3.5)                14.2         (13.4, 15.0)
3            4.2    ( 4.1,  4.2)                19.7         (18.8, 20.5)
4            4.2    ( 4.2,  4.3)                18.1         (17.2, 19.1)

  TEETHLOST_AdjPrev  TEETHLOST_Adj95CI                       Geolocation
0              22.9       (21.8, 23.9)  (33.52756637730, -86.7988174678)
1               8.3       ( 7.4,  9.4)  (33.37676027290, -86.8051937568)
2              14.2       (13.4, 15.0)  (34.69896926710, -86.6387042882)
3              19.6       (18.8, 20.5)  (30.67762486480, -88.1184482714)
4              18.2       (17.3, 19.1)  (32.34726453330, -86.2677059552)

[5 rows x 117 columns]
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 117 entries, StateAbbr to Geolocation
dtypes: float64(56), int64(2), object(59)
memory usage: 457.2+ KB

In [22]:
# Filtering only columns of interest
us_pop = us_pop.loc[:, ['StateAbbr', 'PlaceName', 'Population2010', 'Geolocation']].copy()
# Seeing top 20 Cities
us_pop.sort_values(by = 'Population2010', ascending = False).head(20)

    StateAbbr      PlaceName  Population2010                       Geolocation
342        NY       New York         8175133  (40.69496068900, -73.9313850409)
74         CA    Los Angeles         3792621  (34.11822778980, -118.408500088)
222        IL        Chicago         2695598  (41.83729506150, -87.6862308732)
429        TX        Houston         2099451  (29.78066913960, -95.3860033966)
388        PA   Philadelphia         1526006  (40.00931478080, -75.1333888571)
13         AZ        Phoenix         1445632  (33.57241386950, -112.088995222)
451        TX    San Antonio         1327407  (29.47214753330, -98.5246763525)
111        CA      San Diego         1307402  (32.83556394180, -117.119792061)
421        TX         Dallas         1197816  (32.79398040660, -96.7656929463)
213        HI       Honolulu          953207  (21.45880393050, -157.973296737)
113        CA       San Jose          945942  (37.30039631760, -121.847228423)
181        FL   Jacksonville          821784  (30.33198201390, -81.6752266207)
242        IN   Indianapolis          820445  (39.77712210750, -86.1457821520)
112        CA  San Francisco          805235  (37.75591366110, -122.440987876)
413        TX         Austin          790390  (30.30686103420, -97.7554771245)
366        OH       Columbus          787033  (39.98595004840, -82.9851738516)
425        TX     Fort Worth          741206  (32.78019280400, -97.3470323225)
349        NC      Charlotte          731424  (35.20787219690, -80.8300754645)
283        MI        Detroit          713777  (42.38470156310, -83.1053178776)
424        TX        El Paso          649121  (31.84811235060, -106.432021874)

---
Unsurprisingly, New York City is the largest city with Los Angeles and Chicago in second and third, respectively.

California and Texas are well-represented with half of the cities in the top 20 (CA with 4, TX with 6).


---

## Move to EDA file

In [23]:

# plt.figure(figsize = (12, 8))
# plt.hist(us_pop['Population2010'], bins = 50)
# plt.xlim(left = 0,right = 2_000_000)
# plt.axvline(us_pop['Population2010'].mean(), color = 'red', linestyle = '--',)
# plt.axvline(us_pop['Population2010'].median(), color = 'orange', linestyle = ':')
# plt.title('Histogram of US Population - 2010 (< 2mm)', size = 24)
# plt.xticks(ticks = [*range(0, 1_750_001, 250_000)],
#           labels = [str(i) for i in range(0, 1_750_001, 250_000)])
# plt.xlabel('Population (Millions)', size = 16);

An unsurprising right-skewed distribution of population. 

The limit was arbitrarily chosen to be 2,000,000 due to only four cities having populations greater than that amount and making the visual less interpretable.

---

In [24]:
# Which US Cities have populations larger than 1 Million
us_pop[us_pop['Population2010'] >= 1_000_000].sort_values(by = 'Population2010', ascending = False)

    StateAbbr     PlaceName  Population2010                       Geolocation
342        NY      New York         8175133  (40.69496068900, -73.9313850409)
74         CA   Los Angeles         3792621  (34.11822778980, -118.408500088)
222        IL       Chicago         2695598  (41.83729506150, -87.6862308732)
429        TX       Houston         2099451  (29.78066913960, -95.3860033966)
388        PA  Philadelphia         1526006  (40.00931478080, -75.1333888571)
13         AZ       Phoenix         1445632  (33.57241386950, -112.088995222)
451        TX   San Antonio         1327407  (29.47214753330, -98.5246763525)
111        CA     San Diego         1307402  (32.83556394180, -117.119792061)
421        TX        Dallas         1197816  (32.79398040660, -96.7656929463)

In [25]:
# Which US Cities have populations larger than 0.5 Million
print(f"Number of cities with population greater than half a million: {us_pop[us_pop['Population2010'] >= 500_000].shape[0]}")
print('='*64) # 64 to make the line break aesthetically pleasing
print()
us_pop[us_pop['Population2010'] >= 500_000].sort_values(by = 'Population2010', ascending = False)

Number of cities with population greater than half a million: 34
================================================================

    StateAbbr      PlaceName  Population2010                       Geolocation
342        NY       New York         8175133  (40.69496068900, -73.9313850409)
74         CA    Los Angeles         3792621  (34.11822778980, -118.408500088)
222        IL        Chicago         2695598  (41.83729506150, -87.6862308732)
429        TX        Houston         2099451  (29.78066913960, -95.3860033966)
388        PA   Philadelphia         1526006  (40.00931478080, -75.1333888571)
13         AZ        Phoenix         1445632  (33.57241386950, -112.088995222)
451        TX    San Antonio         1327407  (29.47214753330, -98.5246763525)
111        CA      San Diego         1307402  (32.83556394180, -117.119792061)
421        TX         Dallas         1197816  (32.79398040660, -96.7656929463)
213        HI       Honolulu          953207  (21.45880393050, -157.973296737)
113        CA       San Jose          945942  (37.30039631760, -121.847228423)
181        FL   Jacksonville          821784  (30.33198201390, -81.6752266207)
242        IN   Indianapolis          820445  (39.77712210750, -86.1457821520)
112        CA  San Francisco          805235  (37.75591366110, -122.440987876)
413        TX         Austin          790390  (30.30686103420, -97.7554771245)
366        OH       Columbus          787033  (39.98595004840, -82.9851738516)
425        TX     Fort Worth          741206  (32.78019280400, -97.3470323225)
349        NC      Charlotte          731424  (35.20787219690, -80.8300754645)
283        MI        Detroit          713777  (42.38470156310, -83.1053178776)
424        TX        El Paso          649121  (31.84811235060, -106.432021874)
406        TN        Memphis          646889  (35.10462950420, -89.9789060850)
267        MD      Baltimore          620961  (39.30845239910, -76.6160492311)
268        MA         Boston          617594  (42.31557967770, -71.0916505804)
485        WA        Seattle          608660  (47.62215433800, -122.323532482)
168        DC     Washington          601723  (38.90992414260, -77.0147205666)
408        TN      Nashville          601222  (36.17122299040, -86.7845944773)
150        CO         Denver          600158  (39.76202837430, -104.876365322)
259        KY     Louisville          597337  (38.17776899180, -85.6664099974)
496        WI      Milwaukee          594833  (43.06412589250, -87.9672412429)
383        OR       Portland          583776  (45.53718065400, -122.650032751)
319        NV      Las Vegas          583756  (36.22741484380, -115.262670095)
375        OK  Oklahoma City          579999  (35.46756428800, -97.5137615524)
334        NM    Albuquerque          545852  (35.10550257710, -106.647447696)
17         AZ         Tucson          520116  (32.15672444830, -110.877085494)

In [26]:
# cleaning up latitude and longitude in us_pop dataframe.
us_pop.head()

  StateAbbr   PlaceName  Population2010                       Geolocation
0        AL  Birmingham          212237  (33.52756637730, -86.7988174678)
1        AL      Hoover           81619  (33.37676027290, -86.8051937568)
2        AL  Huntsville          180105  (34.69896926710, -86.6387042882)
3        AL      Mobile          195111  (30.67762486480, -88.1184482714)
4        AL  Montgomery          205764  (32.34726453330, -86.2677059552)

In [27]:
us_pop['Geolocation'].str.split(pat = ',', expand = True)

                   0                 1
0    (33.52756637730   -86.7988174678)
1    (33.37676027290   -86.8051937568)
2    (34.69896926710   -86.6387042882)
3    (30.67762486480   -88.1184482714)
4    (32.34726453330   -86.2677059552)
..               ...               ...
495  (43.08098656940   -89.3915106344)
496  (43.06412589250   -87.9672412429)
497  (42.72745994940   -87.8134530240)
498  (43.00933322150   -88.2457679157)
499  (41.14608042650   -104.789064332)

[500 rows x 2 columns]

In [28]:
us_pop = pd.merge(us_pop, us_pop['Geolocation'].str.split(pat = ',', expand = True), left_index = True, right_index = True)

us_pop = us_pop.iloc[:, :6].copy()

In [29]:
us_pop.columns = ['StateAbbr', 'PlaceName', 'Population2010', 'Geolocation', 'LATITUDE',
       'LONGITUDE']

us_pop.head()

,StateAbbr,PlaceName,Population2010,Geolocation,LATITUDE,LONGITUDE
0,AL,Birmingham,212237,"(33.52756637730, -86.7988174678)",(33.52756637730,-86.7988174678)
1,AL,Hoover,81619,"(33.37676027290, -86.8051937568)",(33.37676027290,-86.8051937568)
2,AL,Huntsville,180105,"(34.69896926710, -86.6387042882)",(34.69896926710,-86.6387042882)
3,AL,Mobile,195111,"(30.67762486480, -88.1184482714)",(30.67762486480,-88.1184482714)
4,AL,Montgomery,205764,"(32.34726453330, -86.2677059552)",(32.34726453330,-86.2677059552)

In [30]:
# Removing unnecessary characters in coordinate columns to convert to floats
us_pop['LATITUDE'] = us_pop['LATITUDE'].apply(lambda x: x.replace('(', '')).astype(float)
us_pop['LONGITUDE'] = us_pop['LONGITUDE'].apply(lambda x: x.replace(')', '')).astype(float)

us_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StateAbbr       500 non-null    object
 1   PlaceName       500 non-null    object
 2   Population2010  500 non-null    int64
 3   Geolocation     500 non-null    object
 4   LATITUDE        500 non-null    float64
 5   LONGITUDE       500 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 23.6+ KB

## Experimenting with a map function

In [31]:
# refactored geojson load into one-liner, no helper function
base_map = json.load(open('../data/gz_2010_us_040_00_500k.json'))

## punt to EDA, focus on data cleaning

In [14]:
# for i in us_pop[['LATITUDE', 'LONGITUDE', 'Population2010']].values:
# #     print(i[0], i[1], i[2]/100000)
#     folium.CircleMarker((i[0], i[1]),
#                        fill_opacity = 0.25).add_to(us_map)

    
    
# #     folium.CircleMarker(i[0], i[1],
# #                        weight = )

# us_map

In [32]:
us_map = utils.create_map('../data/gz_2010_us_040_00_500k.json', us_pop['LATITUDE'].mean(), us_pop['LONGITUDE'].mean())

us_map

NameError: name 'json' is not defined

In [ ]:
# Adding markers
# for i in map_df.room_type.unique():
#     temp = map_df[map_df['room_type'] == i]
#     for j, row in temp.iterrows():
#         folium.CircleMarker((row.latitude, row.longitude),
#                             radius = 2,
#                             weight = 2,
#                             color = map_colors[i],
#                             fill_color = map_colors[i],
#                             fill_opacity = 0.2).add_to(austinMap)

In [9]:
# checking first few rows to see if any changes need to be made
us_pop.head()

,StateAbbr,PlaceName,Population2010,Geolocation,LATITUDE,LONGITUDE
0,AL,Birmingham,212237,"(33.52756637730, -86.7988174678)",33.527566,-86.798817
1,AL,Hoover,81619,"(33.37676027290, -86.8051937568)",33.376760,-86.805194
2,AL,Huntsville,180105,"(34.69896926710, -86.6387042882)",34.698969,-86.638704
3,AL,Mobile,195111,"(30.67762486480, -88.1184482714)",30.677625,-88.118448
4,AL,Montgomery,205764,"(32.34726453330, -86.2677059552)",32.347265,-86.267706

---

In [10]:
print(airports.head())

airports.info()

  IATA                              AIRPORT           CITY STATE COUNTRY  \
0  ABQ            Albuquerque International    Albuquerque    NM     USA
1  ANC  Ted Stevens Anchorage International      Anchorage    AK     USA
2  ATL    William B Hartsfield-Atlanta Intl        Atlanta    GA     USA
3  AUS       Austin-Bergstrom International         Austin    TX     USA
4  BDL                Bradley International  Windsor Locks    CT     USA

    LATITUDE   LONGITUDE
0  35.040222 -106.609194
1  61.174320 -149.996186
2  33.640444  -84.426944
3  30.194533  -97.669872
4  41.938874  -72.683228
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA       341 non-null    object
 1   AIRPORT    341 non-null    object
 2   CITY       337 non-null    object
 3   STATE      337 non-null    object
 4   COUNTRY    341 non-null    object
 5   LATITUDE   341 non-null    float64
 6   LONGITUDE  341 non-null    float64
dtypes: float64(2), object(5)
memory usage: 18.8+ KB

Airports data frame looks to be in proper format.

---

In [11]:
print(f"Number of unique airports: {airports['IATA'].nunique()}")
airports['IATA'].unique()

Number of unique airports: 341

array(['ABQ', 'ANC', 'ATL', 'AUS', 'BDL', 'BHM', 'BNA', 'BOS', 'BUF',
       'BUR', 'BWI', 'CHS', 'CLE', 'CLT', 'CMH', 'CVG', 'DAL', 'DCA',
       'DEN', 'DFW', 'DTW', 'ELP', 'EWR', 'FLL', 'HNL', 'HOU', 'IAD',
       'IAH', 'IND', 'JAX', 'JFK', 'LAS', 'LAX', 'LGA', 'LIT', 'MCI',
       'MCO', 'MDW', 'MEM', 'MIA', 'MKE', 'MSP', 'MSY', 'OAK', 'OGG',
       'OKC', 'OMA', 'ONT', 'ORD', 'ORF', 'PBI', 'PDX', 'PHL', 'PHX',
       'PIT', 'PVD', 'RDU', 'RIC', 'RNO', 'RSW', 'SAN', 'SAT', 'SDF',
       'SEA', 'SFO', 'SJC', 'SJU', 'SLC', 'SMF', 'SNA', 'STL', 'TPA',
       'TUL', 'TUS', 'ABE', 'ABI', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV',
       'ACY', 'ADK', 'ADQ', 'AEX', 'AGS', 'AKN', 'ALB', 'ALO', 'AMA',
       'APN', 'ART', 'ASE', 'ATW', 'AVL', 'AVP', 'AZO', 'BET', 'BFL',
       'BGM', 'BGR', 'BIL', 'BIS', 'BJI', 'BLI', 'BMI', 'BOI', 'BPT',
       'BQK', 'BQN', 'BRD', 'BRO', 'BRW', 'BTM', 'BTR', 'BTV', 'BZN',
       'CAE', 'CAK', 'CDC', 'CDV', 'CEC', 'CHA', 'CHO', 'CIC', 'CID',
       'CIU', 'CLD', 'CLL', 'CMI', 'CMX', 'CNY', 'COD', 'COS', 'COU',
       'CPR', 'CRP', 'CRW', 'CSG', 'CWA', 'CYS', 'DAB', 'DAY', 'DBQ',
       'DHN', 'DIK', 'DLG', 'DLH', 'DRO', 'DRT', 'DSM', 'DVL', 'EAU',
       'EGE', 'EKO', 'ELM', 'ERI', 'ESC', 'EUG', 'EVV', 'EWN', 'EYW',
       'FAI', 'FAR', 'FAT', 'FAY', 'FCA', 'FLG', 'FLO', 'FNT', 'FOE',
       'FSD', 'FSM', 'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT',
       'GNV', 'GPT', 'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GST',
       'GTF', 'GTR', 'GUC', 'GUM', 'HDN', 'HIB', 'HLN', 'HOB', 'HPN',
       'HRL', 'HSV', 'HTS', 'HYA', 'HYS', 'ICT', 'IDA', 'ILG', 'ILM',
       'IMT', 'INL', 'IPL', 'ISN', 'ISP', 'ITH', 'ITO', 'IYK', 'JAC',
       'JAN', 'JLN', 'JMS', 'JNU', 'KOA', 'KTN', 'LAN', 'LAR', 'LAW',
       'LBB', 'LCH', 'LEX', 'LFT', 'LGB', 'LIH', 'LMT', 'LNK', 'LRD',
       'LSE', 'LWB', 'LWS', 'LYH', 'MAF', 'MBS', 'MCN', 'MDT', 'MEI',
       'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MKG', 'MLB', 'MLI', 'MLU',
       'MMH', 'MOB', 'MOD', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO', 'MTJ',
       'MVY', 'MWH', 'MYR', 'OAJ', 'OME', 'ORH', 'OTH', 'OTZ', 'OXR',
       'PAH', 'PFN', 'PHF', 'PIA', 'PIB', 'PIE', 'PIH', 'PIR', 'PLN',
       'PNS', 'PPG', 'PSC', 'PSE', 'PSG', 'PSP', 'PUB', 'PWM', 'RAP',
       'RDD', 'RDM', 'RFD', 'RHI', 'RKS', 'ROA', 'ROC', 'ROW', 'RST',
       'SAF', 'SAV', 'SBA', 'SBN', 'SBP', 'SCC', 'SCE', 'SGF', 'SGU',
       'SHD', 'SHV', 'SIT', 'SJT', 'SMX', 'SPI', 'SPN', 'SPS', 'SRQ',
       'STC', 'STT', 'STX', 'SUN', 'SUX', 'SWF', 'SYR', 'TEX', 'TLH',
       'TOL', 'TRI', 'TTN', 'TUP', 'TVC', 'TWF', 'TXK', 'TYR', 'TYS',
       'VEL', 'VLD', 'VPS', 'WRG', 'WYS', 'XNA', 'YAK', 'YUM'],
      dtype=object)

Airports looks fine. Some information will be redundant when merged with `us_pop`.

In [12]:
# Checking output of method before store in df
# df['id'].str.split(pat = '\t', expand = True)

# Seeing what a merge looks like with this .str method
df = df.merge(df['id'].str.split(pat = '\t', expand = True), left_index = True, right_index = True)

df.rename(columns = {
    0: 'time_collected',
    1: 'station'
}, inplace = True)



new_col_order = ['date', 'time_collected', 'station', 'obsv_time', 'automated', 'wind_speed', 'visibility', 'cloud_cover',]

df = df.loc[:, new_col_order].copy()

df.head()

,date,time_collected,station,obsv_time,automated,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,KCXP,252115Z,AUTO,08005KT,10SM,CLR
1,2015-03-25,21:13:00,KWRB,252113Z,AUTO,06005KT,10SM,BKN014
2,2015-03-25,21:12:00,KTUL,252112Z,14006KT,10SM,TS,BKN035
3,2015-03-25,21:11:00,KDRT,252111Z,AUTO,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,KBRL,252110Z,AUTO,33009KT,8SM,SCT016

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7731241 entries, 0 to 7731240
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   time_collected  object
 2   station         object
 3   obsv_time       object
 4   automated       object
 5   wind_speed      object
 6   visibility      object
 7   cloud_cover     object
dtypes: object(8)
memory usage: 471.9+ MB

In [30]:
# replacing the leading K in the airport codes
df['station'] = df['station'].str.replace('^K', '')

df.head()

,date,time_collected,station,obsv_time,automated,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,CXP,252115Z,AUTO,08005KT,10SM,CLR
1,2015-03-25,21:13:00,WRB,252113Z,AUTO,06005KT,10SM,BKN014
2,2015-03-25,21:12:00,TUL,252112Z,14006KT,10SM,TS,BKN035
3,2015-03-25,21:11:00,DRT,252111Z,AUTO,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,BRL,252110Z,AUTO,33009KT,8SM,SCT016

---

### Notes on columns:

* `Date` and `time_collected` could be combined and turned into a datetime datatype
* `station` should have the K stripped since most airport codes are in the 3 letters (although K will sometimes be at front)
* Can probably get rid of obsv_time, but will keep for now
* need to find a way to put wind_speed in easier/layman's representation
* Fairly confident `visibility` can be represented as a string
* Possible ordinal encoder from sklearn for `cloud_cover` or make simple ranking

There is an issue with the `automated` and `wind_speed` columns. Let's see the breakdown of observations that were automated recordings and which ones were not.

In [14]:
auto = 0
not_auto = 0

for i in df['automated']:
    if i == 'AUTO':
        auto += 1
    elif i != 'AUTO':
        not_auto += 1
    else:
        continue

print(f'Num. of Automated: {auto}')
print(f'Num. of Non-Automated: {not_auto}')
print(f'% Automated: {round(auto / len(df), 2)}')
print(f'% Non-Automated: {round(not_auto / len(df), 2)}')

Num. of Automated: 4361474
Num. of Non-Automated: 3369767
% Automated: 0.56
% Non-Automated: 0.44

---

Too many observations in `df['automated']` to throw out observations that `!= 'AUTO'`

From here, `df` will be split into two separate dataframes based on the values in the `automated` column, selecting only the columns of interest to answer the problem, and then concatenated into a single dataframe.

Concatenation makes more sense than a merge because the columns will be the same in both dataframes and we aren't joining the data on a particular column or index.

In [15]:
df.head()

,date,time_collected,station,obsv_time,automated,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,KCXP,252115Z,AUTO,08005KT,10SM,CLR
1,2015-03-25,21:13:00,KWRB,252113Z,AUTO,06005KT,10SM,BKN014
2,2015-03-25,21:12:00,KTUL,252112Z,14006KT,10SM,TS,BKN035
3,2015-03-25,21:11:00,KDRT,252111Z,AUTO,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,KBRL,252110Z,AUTO,33009KT,8SM,SCT016

In [16]:
# Creating df_auto, only the Automated values
df_auto = df[df['automated'] == 'AUTO'].copy()

print(f'Shape of df_auto: {df_auto.shape}')
print('='*30)

df_auto.head()

Shape of df_auto: (4361474, 8)
==============================

,date,time_collected,station,obsv_time,automated,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,KCXP,252115Z,AUTO,08005KT,10SM,CLR
1,2015-03-25,21:13:00,KWRB,252113Z,AUTO,06005KT,10SM,BKN014
3,2015-03-25,21:11:00,KDRT,252111Z,AUTO,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,KBRL,252110Z,AUTO,33009KT,8SM,SCT016
5,2015-03-25,21:10:00,KCMX,252110Z,AUTO,26016KT,4SM,-SN

In [17]:
# Same process for non-automated values
df_non_auto = df[df['automated'] != 'AUTO'].copy()

print(f'Shape of df_auto: {df_non_auto.shape}')
print('='*30)

df_non_auto.head()

Shape of df_auto: (3369767, 8)
==============================

,date,time_collected,station,obsv_time,automated,wind_speed,visibility,cloud_cover
2,2015-03-25,21:12:00,KTUL,252112Z,14006KT,10SM,TS,BKN035
7,2015-03-25,21:10:00,KSZL,252110Z,03009KT,9SM,-RA,VCTS
9,2015-03-25,21:09:00,KGCK,252109Z,01029G38KT,10SM,BKN018,BKN033
10,2015-03-25,21:09:00,KGSP,252109Z,02009KT,7SM,FEW011,SCT021
15,2015-03-25,21:07:00,KSFO,252107Z,29014KT,10SM,FEW200,21/12

In [18]:
# Only selecting columns of interest, will rename to have same columns as df_auto
df_non_auto = df_non_auto.loc[:, ['date', 'time_collected', 'station', 'automated', 'wind_speed', 'visibility', 'cloud_cover']]

print(f'Shape of df_auto: {df_non_auto.shape}')
print('='*30)

df_non_auto.head()

Shape of df_auto: (3369767, 7)
==============================

,date,time_collected,station,automated,wind_speed,visibility,cloud_cover
2,2015-03-25,21:12:00,KTUL,14006KT,10SM,TS,BKN035
7,2015-03-25,21:10:00,KSZL,03009KT,9SM,-RA,VCTS
9,2015-03-25,21:09:00,KGCK,01029G38KT,10SM,BKN018,BKN033
10,2015-03-25,21:09:00,KGSP,02009KT,7SM,FEW011,SCT021
15,2015-03-25,21:07:00,KSFO,29014KT,10SM,FEW200,21/12

In [19]:
df_auto.drop(columns = 'automated', inplace = True)

df_auto.head()

,date,time_collected,station,obsv_time,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,KCXP,252115Z,08005KT,10SM,CLR
1,2015-03-25,21:13:00,KWRB,252113Z,06005KT,10SM,BKN014
3,2015-03-25,21:11:00,KDRT,252111Z,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,KBRL,252110Z,33009KT,8SM,SCT016
5,2015-03-25,21:10:00,KCMX,252110Z,26016KT,4SM,-SN

In [20]:
print(f'df_auto column names: {df_auto.columns}')
print('='*30)
print(f'df_non_auto column names: {df_non_auto.columns}')

df_auto column names: Index(['date', 'time_collected', 'station', 'obsv_time', 'wind_speed',
       'visibility', 'cloud_cover'],
      dtype='object')
==============================
df_non_auto column names: Index(['date', 'time_collected', 'station', 'automated', 'wind_speed',
       'visibility', 'cloud_cover'],
      dtype='object')

In [21]:
df_auto.head()

,date,time_collected,station,obsv_time,wind_speed,visibility,cloud_cover
0,2015-03-25,21:15:00,KCXP,252115Z,08005KT,10SM,CLR
1,2015-03-25,21:13:00,KWRB,252113Z,06005KT,10SM,BKN014
3,2015-03-25,21:11:00,KDRT,252111Z,13007KT,10SM,SCT023
4,2015-03-25,21:10:00,KBRL,252110Z,33009KT,8SM,SCT016
5,2015-03-25,21:10:00,KCMX,252110Z,26016KT,4SM,-SN

In [22]:
df_non_auto.head()

,date,time_collected,station,automated,wind_speed,visibility,cloud_cover
2,2015-03-25,21:12:00,KTUL,14006KT,10SM,TS,BKN035
7,2015-03-25,21:10:00,KSZL,03009KT,9SM,-RA,VCTS
9,2015-03-25,21:09:00,KGCK,01029G38KT,10SM,BKN018,BKN033
10,2015-03-25,21:09:00,KGSP,02009KT,7SM,FEW011,SCT021
15,2015-03-25,21:07:00,KSFO,29014KT,10SM,FEW200,21/12

In [23]:
df_non_auto.columns = df_auto.columns

df_non_auto.head()

,date,time_collected,station,obsv_time,wind_speed,visibility,cloud_cover
2,2015-03-25,21:12:00,KTUL,14006KT,10SM,TS,BKN035
7,2015-03-25,21:10:00,KSZL,03009KT,9SM,-RA,VCTS
9,2015-03-25,21:09:00,KGCK,01029G38KT,10SM,BKN018,BKN033
10,2015-03-25,21:09:00,KGSP,02009KT,7SM,FEW011,SCT021
15,2015-03-25,21:07:00,KSFO,29014KT,10SM,FEW200,21/12

In [24]:
assert df_non_auto.shape[1] == df_auto.shape[1]

In [25]:
combined_df = pd.concat([df_auto, df_non_auto])

combined_df.drop(columns = 'obsv_time', inplace = True)

combined_df.head()

         date time_collected station wind_speed visibility cloud_cover
0  2015-03-25       21:15:00    KCXP    08005KT       10SM         CLR
1  2015-03-25       21:13:00    KWRB    06005KT       10SM      BKN014
3  2015-03-25       21:11:00    KDRT    13007KT       10SM      SCT023
4  2015-03-25       21:10:00    KBRL    33009KT        8SM      SCT016
5  2015-03-25       21:10:00    KCMX    26016KT        4SM         -SN

In [26]:
assert len(combined_df) == len(df), "Not the same"

---

Columns of interest are: 

- date
- time_collected
- station
- wind_speed
- visibility
- cloud cover

Need to parse out KT for wind_speed, SM for visibility, and make conditions/ordinal encoder from sklearn for cloud_cover

---

### Wind_speed:

- first three digits are true direction in degrees
- next two digits are sustained speed
- if gusts are present, next two digits are max wind speed in past few minutes

Example METAR report: METAR KJFK 291953Z 17015G25KT 10SM FEW040 BKN070 28/18 A3002 RMK AO2 SLP166 T02830183

In this example, the wind part is "17015G25KT." Here's what each section of this wind part means:

Wind Direction: "170"

The first three digits represent the wind direction in degrees true. In this case, the wind is coming from 170 degrees on the compass, which is roughly from the south-southeast direction.

Wind Speed: "15KT"

The next two digits represent the sustained wind speed in knots. In this case, the wind is blowing at a constant speed of 15 knots.
Wind Gusts: "G25KT"

We aren't too concerned with Gusts or direction of the wind. We'll merely want to parse out the windspeed, to help us get mean and medians for each station.

In [28]:
print(combined_df['wind_speed'].head())

combined_df.info()

0    08005KT
1    06005KT
3    13007KT
4    33009KT
5    26016KT
Name: wind_speed, dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7731241 entries, 0 to 7731240
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   time_collected  object
 2   station         object
 3   wind_speed      object
 4   visibility      object
 5   cloud_cover     object
dtypes: object(6)
memory usage: 412.9+ MB

In [34]:
# Regular expression pattern to remove wind direction, gusts, and "KT"
pattern = r'G\d+KT|\d{3}|KT'

combined_df['wind_speed'] = combined_df['wind_speed'].str.replace(pattern, '', regex = True)

In [35]:
combined_df.head()

         date time_collected station wind_speed visibility cloud_cover
0  2015-03-25       21:15:00    KCXP         05       10SM         CLR
1  2015-03-25       21:13:00    KWRB         05       10SM      BKN014
3  2015-03-25       21:11:00    KDRT         07       10SM      SCT023
4  2015-03-25       21:10:00    KBRL         09        8SM      SCT016
5  2015-03-25       21:10:00    KCMX         16        4SM         -SN

In [39]:
combined_df.shape

(7731241, 6)

In [38]:
combined_df['wind_speed'].head(100)

0       05
1       05
3       07
4       09
5       16
      ...
175    NaN
178    NaN
179    NaN
181    NaN
183    NaN
Name: wind_speed, Length: 100, dtype: object

---


### Cloud_cover:

- CLEAR = sky clear
- FEW = 0-2 eighths
- SCT = scattered 3-4 eighths
- BKN = Broken - 5-7 eighths
- OVC = Overcast - 8 eighths

cloud cover, thinking rules based approach eg:

- clear = 5
- few = 4
- sct = 3
- bkn = 2
- else: 1